.section {
    min-height: 120vh;
    width: 100%;
    background-image: url('../assets/coffeespill.png');
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 10;
    overflow: hidden;
}

@media (max-width: 720px) {
    .section {
        min-height: 50vh;
        background-size: contain;
        background-position: bottom center;
    }
}
